.navigation {
    height: 80px;
    background: #781D42;
    display: flex;
    align-items: center;
}

.navigation_searchbar input {
    margin-left: 50px;
    width: 520px;
    height: 40px;
    border-radius: 41px;
    border: none;
}
.navigation_brand {
    font-size: 48px;
    font-weight: bolder;
    color: white;
}

.navigation_button {
    font-weight: 700;
    height: 100%;
    color: white;
    margin-left: 50px;
}

.body {
    position: absolute;
    width: 100vw;
    height: fit-content;
    background-size:contain;
    background-image: url(../../../public/bg_vector.png);

}
.btn_login{
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #781D42;
    background-color: #FFF;
    border-radius: 8px;
    padding: 15px 30px;
}

.btn_signup{
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 2rem;
    width: 110px;
    height: 50px;
    color: white;
    background-color: #781D42;
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    padding: 15px 20px;
}


.login_container {
    display: block;
    justify-content: center;
    width: 550px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 157px;
    margin-bottom: 167px;


    background: #FFFFFF;
    /* Button Drop Shadow */

    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
}
.register_container {
    display: block;
    justify-content: center;
    width: 550px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 157px;
    margin-bottom: 167px;


    background: #FFFFFF;
    /* Button Drop Shadow */

    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
}
.form_container{
    padding: 30px;
}
.form_title {
    background: #781D42;
    color: white;
    padding:  25px 0;
    border-radius: 25px 25px 0px 0px;
}
.form_label{
    font-weight: bold;
    font-size: 20px;
}

.forgot_password{
    margin-bottom: 70px;
    color: #781D42;
}

.forgot_password:hover {
    cursor: pointer;
}
.button_sub_login{
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 18px;
    color: white;
    background-color: #781D42;
    border-radius: 38px;
    text-align: center;
    padding-top: 5px;
    width: 430px;
    margin: auto;
    margin-bottom: 10px;
    border: unset;
    border: #781D42 2px;
}

.button_sub_signup{
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 18px;
    color: #781D42;
    background-color: white;
    border: 2px solid;
    border-radius: 38px;
    text-align: center;
    padding-top: 5px;
    width: 430px;
    margin: auto;
}
/* Hero Section CSS */
.row_hero{
    margin-top: 80px;
    max-width: 110rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    height: 40rem;
}
.hero_image{
    offset: 2;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
}
.hero_container{
    right: 340px;
    top: 100px;
    position: relative;
    text-align: end;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.hero_container h1{
    color: #781D42;
    font-weight: bolder;
    font-size: 96px;
} 
.hero_container p{
    font-weight: bold;
    color: #781D42;
    font-size: 24px;
}


/* About Us CSS */
.col_about {
    align-items: center;
    color: #781D42;
    padding:  200px 0;
    margin-left: 10rem;
}
.col_about h1{

    font-weight: bolder;
    font-size: 96px;
}

.col_about p{
    width: 80%;
    font-weight: bold;
    color: #781D42;
    font-size: 24px;
}
.col_about button,
.hero_container button{
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 18px;
    color: white;
    background-color: #781D42;
    border-radius: 38px;
    text-align: center;
    padding: 0px 30px
}

.row_about {
    background-color: #F5DAC9;
    margin-top: 80px;
    max-width: 110rem;
    margin-left: auto;
    margin-right: auto;
    height: 40rem;
}

.about_image{
    width: 100%;
    margin-left: 40rem;
    ;
}



/* Card Short */

.card_short{

    width: 350px;
    height: 250px;
    background: #FFFFFF;
    /* Button Drop Shadow */

    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
}
    .card_short:hover {
        transform: scale(1.1);
        transition: 200ms;
    }
.card_short_image{
    height: 170px;

}
.card_short_description{
    padding:10px 15px;
    background-color: #781D42;
    width: 100%;
    color: white;
    height: 80px;
    bottom: 100%;
    border-radius: 0px 0px 25px 25px;
}

/* Footer CSS */
.footer {
    position: relative;
    bottom: 0%;
    height: 450px;
    background: #781D42;
    display: flex;
}
.footer_container {
    width: 100vw;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 130px;
    display: flex;
    justify-content: center;
}
.tagline {
    margin-right: 80px;
}
.tagline p{
    color: #FFFFFF;
}
.sub_footer {
    margin-left: 80px;
}
.footer_container h1{
    color: #FFFFFF;
    font-weight: bolder;
}
.footer_container h4{
    color: #FFFFFF;
    font-weight: bolder;
    margin-bottom: 30px;
}
.sub_footer p{
    color: #CF4F83;
}
.credit {
    margin-top: 80%;
}

.header_carousel {
    margin-left : auto;
    margin-right: auto;
    width: 1440px;
}