html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu";
  width: fit-content;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover{
  color: inherit;
}
* {
  box-sizing: border-box;
}

.btn:hover{
  text-decoration: unset !important ;
  border: inherit;
}
button{
  border: none;
}
